body.welcome-page {
    overflow: auto;
}

.welcome {
    background-image: $welcomePageBackground;
    display: flex;
    flex-direction: column;
    font-family: $welcomePageFontFamily;
    justify-content: space-between;
    min-height: 100vh;
    position: relative;

    .header {
        background-image: $welcomePageHeaderBackground;
        background-position: $welcomePageHeaderBackgroundPosition;
        background-repeat: $welcomePageHeaderBackgroundRepeat;
        background-size: $welcomePageHeaderBackgroundSize;
        padding-bottom: $welcomePageHeaderPaddingBottom;
        background-color: #242029;
        margin: 5%;
        margin-top: 160px;
        border-radius: 30px;
        align-items: center;
        display: flex;
        flex-direction: column;
        min-height: fit-content;
        overflow: hidden;
        position: relative;
        text-align: left;

        .header-text {
            display: flex;
            flex-direction: column;
            margin-top: $watermarkHeight + $welcomePageHeaderTextMarginTop;
            margin-bottom: $welcomePageHeaderTextMarginBottom;
            max-width: calc(100% - 40px);
            width: 60%;
            margin-right: 30%;
            z-index: $zindex2;
            float:left;
        }

        .header-text-title {
            color: $welcomePageTitleColor;
            font-size: $welcomePageHeaderTextTitleFontSize;
            font-weight: $welcomePageHeaderTextTitleFontWeight;
            line-height: $welcomePageHeaderTextTitleLineHeight;
            margin-bottom: $welcomePageHeaderTextTitleMarginBottom;
            opacity: $welcomePageHeaderTextTitleOpacity;
        }

        .header-text-description {
            display: $welcomePageHeaderTextDescriptionDisplay;
            color: $welcomePageDescriptionColor;
            font-size: $welcomePageHeaderTextDescriptionFontSize;
            font-weight: $welcomePageHeaderTextDescriptionFontWeight;
            line-height: $welcomePageHeaderTextDescriptionLineHeight;
            margin-bottom: $welcomePageHeaderTextDescriptionMarginBottom;
            align-self: $welcomePageHeaderTextDescriptionAlignSelf;
        }

        #enter_room {
            display: flex;
            align-items: center;
            max-width: calc(100% - 40px);
            width: $welcomePageEnterRoomWidth;
            z-index: $zindex2;
            background-color: #232029;
            padding: $welcomePageEnterRoomPadding;
            border-radius: $welcomePageEnterRoomBorderRadius;
            margin-right: 40%;

            .enter-room-input-container {
                width: 100%;
                padding: $welcomePageEnterRoomInputContainerPadding;
                text-align: left;
                color: #0274e0;
                height: fit-content;
                border-width: 0 0 2px;
                border-style: none;
                border-image: linear-gradient(to right, #dee1e6, #fff) 1;

                .enter-room-title {
                    display: $welcomePageEnterRoomTitleDisplay;
                    font-size: 18px;
                    font-weight: bold;
                    padding-bottom: 5px;
                }

                .enter-room-input {
                    border-width: $welcomePageEnterRoomInputContainerBorderWidth;
                    border-style: $welcomePageEnterRoomInputContainerBorderStyle;
                    border-image: $welcomePageEnterRoomInputContainerBorderImage;
                    display: inline-block;
                    width: 100%;
                    font-size: 20px;
                    padding: 10px;
                    border-radius: 5px;
                    background-color: #323034;
                    color: white !important;
                }

                .insecure-room-name-warning {
                    align-items: center;
                    color: $defaultWarningColor;
                    display: flex;
                    flex-direction: row;
                    margin-top: 5px;

                    svg {
                        fill: $defaultWarningColor
                    }
                }

                ::placeholder {
                    color: #fffdfd63;
                }
            }

        }

        .tab-container {
            font-size: 16px;
            position: relative;
            text-align: left;
            min-height: 296px;
            width: 50%;
            margin-right: 40%;
            background: #1b1820;
            display: $welcomePageTabContainerDisplay;
            flex-direction: column;
            border-radius: 10px;
            margin-bottom: 20px;
            padding: 10px;

            .tab-content{
                display: $welcomePageTabContentDisplay;
                margin: 5px 0px;
                overflow: hidden;
                flex-grow: 1;
                position: relative;

                > * {
                    position: absolute;
                }
            }

            .tab-buttons {
                font-size: 18px;
                color: #FFFFFF;
                display: $welcomePageTabButtonsDisplay;
                flex-grow: 0;
                flex-direction: row;
                min-height: 54px;
                width: 100%;

                .tab {
                    display: $welcomePageTabDisplay;
                    text-align: center;
                    background: rgba(9,30,66,0.37);
                    height: 55px;
                    line-height: 54px;
                    flex-grow: 1;
                    cursor: pointer;

                    &.selected, &:hover {
                        background: rgba(9,30,66,0.71);
                    }

                    &:last-child {
                        margin-left: 1px;
                    }
                }
            }
        }
    }

    .welcome-page-button {
        width: $welcomePageButtonWidth;
        min-width: $welcomePageButtonMinWidth;
        height: $welcomePageButtonHeight;
        font-size: $welcomePageButtonFontSize;
        font-weight: $welcomePageButtonFontWeight;
        background: #0074E0;
        border-radius: $welcomePageButtonBorderRadius;
        color: #FFFFFF;
        text-align: center;
        vertical-align: middle;
        line-height: $welcomePageButtonLineHeight;
        cursor: pointer;
        margin-top: 24px;   
    }

    .welcome-page-settings {
        color: $welcomePageDescriptionColor;
        position: absolute;
        top: 32px;
        right: 32px;
        z-index: $zindex2;

        * {
            cursor: pointer;
            font-size: 32px;
        }
    }

    .welcome-watermark {
        position: absolute;
        width: 100%;
        height: 100%;
    }

    .welcome-page-content {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        justify-content: space-between;
        position: relative;
        z-index: 1;
        width: 100%;
    }

    .welcome-page-content .more-footer {
        color: #FFF;
        display: flex;
        min-height: 190px;
        padding-bottom: 20px;
        padding-top: 20px;
        width: 100%;
        z-index: 1;
        font-size: 22px;
        letter-spacing: -.13px
    }

    .welcome-page-content .more-section-links img {
        display: inline-block;
        height: 40px;
        margin-top: 20px
    }

    .welcome-page-content .welcome-footer {
        color: #FFF;
        display: flex;
        padding-bottom: 20px;
        padding-top: 20px;
        width: 100%;
        z-index: 1;
    }

    .welcome-page-content .welcome-footer-curve {
        background-color: #1754A9;
        border-bottom-left-radius: 50%;
        border-bottom-right-radius: 50%;
        height: 100px;
        pointer-events: none;
        position: absolute;
        z-index: 1;
        width: 100%
    }

    .welcome-page-content .more-section-title {
        font-size: 19px;
        font-weight: 700;
        line-height: 16px;
        margin-bottom: 16px;
        text-align: left;
    }

    .welcome-page-content .welcome-footer-content a {
        color: #fff !important;
        text-decoration: underline
    }

    .welcome-page-content .welcome-footer-content {
        display: flex;
        text-align: center;
        width: 100%;
        z-index: 2;
    }

    .welcome-page-content .more-section,
    .welcome-page-content .welcome-footer-about,
    .welcome-page-content .welcome-footer-connect {
        display: flex;
        flex-direction: column;
        flex: 1;
        font-size: 14px;
        line-height: 20px
    }

    .welcome-page-content .more-section:last-child,
    .welcome-page-content .welcome-footer-about:last-child,
    .welcome-page-content .welcome-footer-connect:last-child {
        margin-left: 43px;
    }

    .welcome-page-content .welcome-footer-about,
    .welcome-page-content .welcome-footer-connect {
        text-align: center;
        justify-content: center;
        opacity: 0.4;
    }

    .welcome-page-content .more-section {
        background: #232029;
        align-items: left;
        justify-content: center;
        text-align: left;
        border-radius: 15px;
        padding-left: 60px;
    }

    .welcome-page-content .more-section .more-section-content {
        max-width: 380px;
        max-height: 180px;
    }

    .welcome-page-content .welcome-footer-connect-links ul {
        padding: 0
    }

    .welcome-page-content .welcome-footer-connect-links li {
        display: inline-block;
        height: 36px;
        list-style: none;
        margin-right: 16px;
        width: 36px
    }

}

@media only screen and (max-width: 700px) {
    .welcome .header .header-text {
        width: 100%;
        margin-right: 0;
    }

    .welcome .header #enter_room {
        width: 100%;
        margin-right: 0;
    }

    .welcome .header .tab-container {
        width: 100%;
        margin-right: 0;
    }
}
